---
import Roles from "../components/Roles.astro";
// import Footer from "../components/Footer.astro";
import ContactButtons from "../components/header/ContactButtons.astro";
import DownArrow from "../icons/DownArrow.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>M. Scott Cameron</title>
  </head>
  <body class="p-4 bg-[#EFEBE2] text-[#1e293b] font-mono">
    <header>
      <h1 class="text-3xl place-self-start md:m-4 lg:col-span-2">
        M. Scott Cameron
      </h1>
      <div
        class="inline opacity-90 w-3/4 shadow-2xl rounded-full overflow-hidden md:row-start-2 md:col-start-2 md:justify-self-start lg:w-[90%] lg:row-span-2 max-w-[500px] animate-[fadeIn_500ms_ease-in] bg-[currentColor]"
      >
        <img src="/illustrated-profile-noback.png" />
      </div>
      <h1
        class="inline text-4xl leading-relaxed mx-2 md:row-start-2 md:max-w-sm md:text-end md:justify-self-end lg:col-start-1 lg:place-self-end xl:max-w-lg animate-[fadeIn_500ms_ease-in]"
      >
        I'm a<br />
        <span
          class="text-4xl place-self-center md:text-6xl lg:text-7xl xl:text-8xl animate-[fadeIn_1s_ease-in]"
          >Frontend Dev.</span
        >
      </h1>
      <p
        class="md:max-w-[45ch] text-lg m-4 md:m-0 md:row-start-3 md:col-span-2 md:self-start lg:max-w-[36ch] lg:row-start-3 lg:col-start-1 lg:col-span-1 lg:justify-self-end xl:text-2xl animate-[fadeIn_800ms_ease-in]"
      >
        I've been at it for 5 years, in many roles and industries and I really
        enjoy creating excellent experiences for people. Please let me know if
        you have any questions or you'd like to work together. Cheers!
      </p>
      <ContactButtons />
      <div class="hidden md:grid self-end col-span-2 mb-2">
        <a href="#roles">
          <h1 class="text-xl">Roles</h1>
        </a>
        <DownArrow />
      </div>
    </header>
    <Roles />
    <!-- <Footer /> -->
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
  }
  header {
    @apply relative grid gap-6 place-items-center max-w-full
      md:h-screen md:grid-cols-2 md:grid-rows-[1fr_3fr_3fr]
      lg:grid-rows-4;
  }

  @keyframes fadeIn {
    from {
      @apply opacity-0;
    }
    to {
      @apply opacity-100;
    }
  }

  @media screen and (orientation: landscape) and (max-height: 700px) {
    header {
      height: unset;
    }
  }
</style>
