<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Hey there!</title>
  </head>
  <body class="flex w-screen h-screen justify-center items-center bg-[#A9AE98]">
    <div
      class="w-1/4 p-6 hover:shadow-[10px_10px_1px_5px] outline-1 outline-dashed rounded-lg justify-center items-center"
    >
      <h1 class="text-3xl text-gray-800 font-mono">
        Hello! I'm Scott and I'm a fullstack dev with heavy lean toward the
        frontend. I have 5 years experience in many roles and industries. I love
        to make great experiences for users, hopefully adding a bit of joy to a
        crazy world!
      </h1>
    </div>
  </body>
</html>
