---
import profileImage from "../../public/profile_image.png";
import LinkedInButton from "../components/LinkedInButton.astro";
import GithubButton from "../components/GithubButton.astro";
import SendEmailButton from "../components/SendEmailButton.astro";
import CopyEmailButton from "../components/CopyEmailButton.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>M. Scott Cameron</title>
  </head>
  <body class="m-4 bg-[#FEFEFE] text-[#1e293b] font-mono">
    <header class="grid gap-8 place-items-center max-w-full">
      <h1 class="text-3xl place-self-start">M. Scott Cameron</h1>
      <img
        src={profileImage}
        class="opacity-20 absolute top-8 scale-90 max-w-full"
      />
      <h1 class="text-4xl leading-relaxed">
        I'm a<br /><span class="text-6xl">Fullstack Dev.</span>
      </h1>
      <p class="max-w-[65ch]">
        ** with lean toward the frontend. I've been at it for 5 years, in many
        roles and industries and I LOVE to make great digital experiences.
        Please let me know if you have any questions or you'd like to work
        together. Cheers!
      </p>
      <div class="max-w-full w-full flex justify-evenly absolute bottom-6">
        <LinkedInButton />
        <GithubButton />
        <SendEmailButton />
        <CopyEmailButton />
      </div>
    </header>
  </body>
</html>
