<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Hey there!</title>
  </head>
  <body class="flex w-screen h-screen justify-center items-center">
    <h1 class="font-sans font-bold text-6xl">
      Workin on it! Check back again later...
    </h1>
  </body>
</html>
