---
import profileImage from "../../public/profile_image.jpg";
import HomeMainSection from "../components/HomeMainSection.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Hey there!</title>
  </head>
  <body
    class="flex flex-col lg:flex-row sm:flex-col lg:justify-center h-screen items-center bg-[#F5F4F5] text-[#37393A]"
  >
    <img
      src={profileImage}
      class="rounded-3xl opacity-80 w-72 lg:w-96 shadow-xl mt-12 lg:m-12"
    />
    <HomeMainSection />
  </body>
</html>
