---
import TypescriptIcon from "../components/TypescriptIcon.astro";
import ReactIcon from "../components/ReactIcon.astro";
import PrismaIcon from "../components/PrismaIcon.astro";
import ProfileImage from "../../public/profile_image.jpeg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Hey there!</title>
  </head>
  <body>
    <TypescriptIcon />
    <ReactIcon />
    <PrismaIcon />
    <img src={ProfileImage} />
  </body>
</html>
