---
import LinkedInButton from "./LinkedInButton.astro";
import GithubButton from "./GithubButton.astro";
import SendEmailButton from "./SendEmailButton.astro";
import CopyEmailButton from "./CopyEmailButton.astro";
---

<div class="button-group">
  <LinkedInButton />
  <GithubButton />
  <SendEmailButton />
  <CopyEmailButton />
</div>

<style>
  .button-group {
    @apply max-w-full grid grid-cols-4 place-items-center gap-6
      md:fixed md:grid-cols-1 right-4 bottom-4 md:w-12 md:bg-transparent md:shadow-none;
  }
</style>
