<button
  class="inline-block relative copy-button w-16 bg-neutral-200 shadow-md p-3 rounded-xl hover:bg-neutral-300 group active:scale-90"
>
  <p
    class="hidden tooltip text-xl absolute right-20 bottom-1 bg-neutral-300 rounded-lg"
  >
    Email copied!
  </p>
  <svg
    width="100%"
    height="100%"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="group-hover:stroke-black"
    ><rect width="16" height="13" x="6" y="4" rx="2"></rect><path
      d="m22 7-7.1 3.78c-.57.3-1.23.3-1.8 0L6 7"></path><path
      d="M2 8v11c0 1.1.9 2 2 2h14"></path></svg
  >
</button>

<script>
  const button = document.querySelector(".copy-button");
  const tooltip = document.querySelector(".tooltip");
  button?.addEventListener("click", () => {
    navigator.clipboard.writeText("hello@mscottcameron.com");
    tooltip?.classList.remove("hidden");
    setTimeout(() => tooltip?.classList.add("hidden"), 1000);
  });
</script>

<style>
  @media screen and (orientation: portrait) and (max-height: 700px) {
    .tooltip {
      bottom: 4rem;
      left: 0;
    }
  }
</style>
