---
import ReactIcon from "../icons/ReactIcon.astro";
import TypescriptIcon from "../icons/TypescriptIcon.astro";
import NodeIcon from "../icons/NodeIcon.astro";
import GraphqlIcon from "../icons/GraphqlIcon.astro";
import HtmlIcon from "../icons/HtmlIcon.astro";
import CssIcon from "../icons/CssIcon.astro";
import TailwindIcon from "../icons/TailwindIcon.astro";
import GitIcon from "../icons/GitIcon.astro";
import JestIcon from "../icons/JestIcon.astro";
import PrismaIcon from "../icons/PrismaIcon.astro";
import NextIcon from "../icons/NextIcon.astro";
import AstroIcon from "../icons/AstroIcon.astro";
---

<footer>
  <div
    class="grid grid-cols-3 gap-4 overflow-hidden w-full md:grid-cols-4 md:mx-4 md:gap-8"
  >
    <ReactIcon />
    <TypescriptIcon />
    <NodeIcon />
    <GraphqlIcon />
    <HtmlIcon />
    <CssIcon />
    <TailwindIcon />
    <GitIcon />
    <JestIcon />
    <PrismaIcon />
    <NextIcon />
    <AstroIcon />
  </div>
</footer>
