---
import copyIcon from "../../public/copy_icon.png";
---

<section class="mx-8">
  <h1>Contact me</h1>
  <div class="flex items-center h-10">
    <span class="inline-block email">hello@mscottcameron.com</span>
    <button class="copy-button">
      <img src={copyIcon} class="h-10" />
    </button>
  </div>
</section>

<script>
  const button = document.querySelector(".copy-button");
  button?.addEventListener("click", () => {
    const copyContent = document.querySelector(".email")?.innerHTML || "";
    console.log(">>>", copyContent);
    navigator.clipboard.writeText(copyContent);
  });
</script>
