<a
  class="inline-block shadow-md rounded-lg p-3 bg-gray-300"
  href="https://www.linkedin.com/in/m-scott-cameron/"
  target="_blank"
  rel="noopener noreferrer"
>
  <svg viewBox="0 0 24 24" class="w-7 h-7" astro-icon="tabler:brand-linkedin"
    ><g
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      class="icon-tabler"
      ><rect width="16" height="16" x="4" y="4" rx="2"></rect><path
        d="M8 11v5M8 8v.01M12 16v-5M16 16v-3a2 2 0 0 0-4 0"></path></g
    ></svg
  >
</a>
