---
import floorfoundLogo from "../../public/floorfound-logo.png";
import babylonLogo from "../../public/babylon-logo.png";
import iHeartMediaLogo from "../../public/iheartmedia-logo.png";
import thinkfulLogo from "../../public/thinkful-logo.png";
import Role from "../components/Role.astro";
---

<section class="w-full grid gap-6 place-items-center my-12 md:mt-0 md:mb-8">
  <h1
    class="place-self-start w-full pt-4 border-t-2 border-neutral-800 md:hidden"
  >
    Roles:
  </h1>
  <Role
    logoSrc={floorfoundLogo}
    companyName="FloorFound"
    roleName="Senior Software Engineer"
    timeSpan="June 2022 - Apr 2023"
  >
    <span class="tech-bubble">Typescript</span>
    <span class="tech-bubble">React</span>
    <span class="tech-bubble">Node</span>
    <span class="tech-bubble">Next</span>
    <span class="tech-bubble">GraphQL</span>
    <span class="tech-bubble">Apollo</span>
    <span class="tech-bubble">Prisma</span>
    <span class="tech-bubble">Chakra-UI</span>
  </Role>
  <Role
    logoSrc={babylonLogo}
    companyName="Babylon Health"
    roleName="Frontend Software Engineer"
    timeSpan="Nov 2021 - June 2022"
  >
    <span class="tech-bubble">Typescript</span>
    <span class="tech-bubble">React Native</span>
    <span class="tech-bubble">GraphQL</span>
    <span class="tech-bubble">Apollo</span>
    <span class="tech-bubble">Lottie Animations</span>
  </Role>
  <Role
    logoSrc={iHeartMediaLogo}
    companyName="iHeartMedia"
    roleName="Software Engineer"
    timeSpan="Feb 2018 - Dec 2021"
  >
    <span class="tech-bubble">Typescript</span>
    <span class="tech-bubble">React</span>
    <span class="tech-bubble">Node</span>
    <span class="tech-bubble">GraphQL</span>
    <span class="tech-bubble">React-Query</span>
    <span class="tech-bubble">AWS-Lambda/Dynamo</span>
    <span class="tech-bubble">styled-components</span>
  </Role>
  <Role
    logoSrc={thinkfulLogo}
    companyName="Thinkful"
    roleName="Software Engineering Bootcamp Student"
    timeSpan="Jun 2017 - Oct 2017"
  >
    <span class="tech-bubble">HTML5</span>
    <span class="tech-bubble">CSS3</span>
    <span class="tech-bubble">Javascript</span>
    <span class="tech-bubble">jQuery</span>
    <span class="tech-bubble">Node</span>
    <span class="tech-bubble">React</span>
    <span class="tech-bubble">Redux</span>
  </Role>
</section>

<style>
  .tech-bubble {
    @apply p-1 px-2 rounded-xl bg-slate-300 h-fit;
  }
</style>
